<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-init-method="init"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>

	<!-- DataSource and iBatis sqlMapClient -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />

		<property name="acquireIncrement" value="3" />
		<property name="minPoolSize" value="2" />
		<property name="maxPoolSize" value="15" />
		<property name="maxIdleTime" value="5" />
		<property name="numHelperThreads" value="5" />

		<property name="idleConnectionTestPeriod" value="10" />
		<property name="autoCommitOnClose" value="false" />
		<property name="preferredTestQuery" value="select 1;" />
		<property name="testConnectionOnCheckin" value="true" />

		<property name="checkoutTimeout" value="60000" />
	</bean>


	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:sqlmap-config.xml"/>
		<property name="dataSource" ref="dataSource" />
	</bean>

   <!-- Dao -->
   <bean id="userDao" class="es.dacartec.dao.ibatis.IBatisDao">
   		<property name="entityClass" value="info.joseliusmartin.model.User"/>
   		<property name="sqlMapClient" ref="sqlMapClient"/>
   	</bean>
   	
   	<!-- Persistent Service -->
   	<bean id="userService" class="info.joseluismartin.logic.PersistentManager">
   		<property name="dao" ref="userDao"/>
   	</bean>
   	
   	<bean id="userServiceStub" class="info.joseluismartin.service.stub.UserServiceStub" />
   		
   <!-- UI Widgets -->
   
	<bean id="userPageableTable" class="info.joseluismartin.vaadin.ui.table.PageableTable"
		scope="prototype">
		<property name="table" ref="table" />
		<property name="paginator" ref="paginator" />
		<property name="service" ref="userService" />
	</bean>

	<bean id="table" class="es.dacartec.ui.table.ConfigurableTable"
		scope="prototype">

		<property name="columns">
			<list value-type="es.dacartec.ui.table.Column">
				<bean class="es.dacartec.ui.table.Column">
					<property name="name" value="id" />
					<property name="displayName" value="ID" />
					<property name="width" value="60" />
					<property name="align" value="c" />
				</bean>
				<bean class="es.dacartec.ui.table.Column">
					<property name="name" value="username" />
					<property name="displayName" value="Usuario" />
					<property name="width" value="100" />
					<property name="align" value="c" />
				</bean>
				<bean class="es.dacartec.ui.table.Column">
					<property name="name" value="name" />
					<property name="displayName" value="Nombre" />
					<property name="width" value="300" />
					<property name="align" value="c" />
				</bean>
				<bean class="es.dacartec.ui.table.Column">
					<property name="name" value="age" />
					<property name="displayName" value="Edad" />
					<property name="width" value="30" />
					<property name="align" value="c" />
				</bean>
				<bean class="es.dacartec.ui.table.Column">
					<property name="name" value="admin" />
					<property name="displayName" value="Administrador" />
					<property name="width" value="30" />
					<property name="align" value="c" />
				</bean>
			</list>
		</property>
	</bean>

	<bean id="paginator" class="es.dacartec.ui.table.VaadinPaginator"
		scope="prototype">
		<property name="first" ref="paginatorFirstButton" />
		<property name="last" ref="paginatorLastButton" />
		<property name="next" ref="paginatorNextButton" />
		<property name="previous" ref="paginatorPreviousButton" />
		<property name="pageSizes" value="10,20,30,40,50,100,200,Todas" />
	</bean>

	<bean id="paginatorFirstButton" class="com.vaadin.ui.Button">
		<property name="icon" value="images/table/go-first.png" />
	</bean>

	<bean id="paginatorLastButton" class="com.vaadin.ui.Button">
		<property name="icon" value="images/table/go-last.png" />
	</bean>

	<bean id="paginatorNextButton" class="com.vaadin.ui.Button">
		<property name="icon" value="images/table/go-next.png" />
	</bean>

	<bean id="paginatorPreviousButton" class="com.vaadin.ui.Button">
		<property name="icon" value="images/table/go-previous.png" />
	</bean>

	<bean id="buttonPanel" class="com.vaadin.ui.HorizontalLayout"
		scope="prototype" />


	<bean id="dataSourceTable" class="es.dacartec.ui.table.ConfigurableTable" parent="table">
		<property name="containerDataSource" ref="userContainerDataSource"/>
	</bean>
	
	<bean id="userContainerDataSource" class="es.dacartec.data.ContainerDataSource">
		<property name="service" ref="userService"/>
	</bean>
	

	<!-- Property Editors -->
	<bean id="customEditorConfigurer"
		class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="com.vaadin.terminal.Resource">
					<bean class="info.joseluismartin.beans.VaadinResourcePropertyEditor" />
				</entry>
			</map>
		</property>
	</bean>
	
	<!--  Transactions -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- Tx Advice -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
    <!-- the transactional semantics... -->
    <tx:attributes>
      <!-- all methods starting with 'get' and 'load' are read-only -->
      <tx:method name="get*" read-only="true"/>
      <tx:method name="load*" read-only="true"/>
      <!-- other methods use the default transaction settings -->
      <tx:method name="*"/>
    </tx:attributes>
  </tx:advice>
	
   <aop:config>
    <!-- Make all methods on package service transactional  -->
     <aop:pointcut id="serviceOperation" 
     	expression="execution(* info.joseluismartin.service.*.*(..))"/>
     <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation"/>
  </aop:config>
	

</beans>

